@import "src/assets/styles/colors";
@import "src/assets/styles/transitions";

.chat, .user {
  display: flex;
  align-items: center;
  padding: 10px 0;
  @extend %transition1;

  .message {
    max-width: 70%;
    font-weight: 300;
    //padding: 20px;
    max-height: max-content;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

    .text {
      padding: 20px;
    }
  }
}


.chat {
  justify-content: flex-start;

  .message {
    border-radius: 4px 25px 25px 25px;
    color: $textBlack;
    background-color: $messageAccent;

  }
}

.user {
  justify-content: flex-end;

  .message {
    border-radius: 25px 4px 25px 25px;
    color: $messageAccent;
    background-color: $message;
    display: flex;
  }
}

.typingAnimation {
  display: inline-flex;
  padding: 13px 10px;
  border-radius: 50px;
  //margin: 40px auto;

  .dot {
    height: 10px;
    width: 10px;
    opacity: 0.7;
    margin: 0 3px;
    border-radius: 50%;
    background: #6c757d;
  }

  :nth-child(1) {
    animation: animateDots 1.6s 200ms ease-in-out infinite;
  }

  :nth-child(2) {
    animation: animateDots 1.6s 300ms ease-in-out infinite;
  }

  :nth-child(3) {
    animation: animateDots 1.6s 400ms ease-in-out infinite;
  }
}

@keyframes animateDots {
  0%, 44% {
    transform: translateY(0);
  }
  28% {
    opacity: 0.4;
    transform: translateY(-9px);
  }
  44% {
    opacity: 0.2;
  }
}