@import "src/assets/styles/colors";

.container {
  width: 100%;
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  //background: #f4f7fa;

  form {
    display: flex;
    width: 100%;
    //border: 1px solid $bgDark;
    padding: 5px 10px;
    //border-radius: 10px;


    textarea {
      height: 2.5rem;
      font-size: 1.1rem;
      color: $textDark;
      flex: 1;
      border: none;
      background: rgb(0, 0, 0, 0);
      padding: 0;
      resize: none;
      display: block;
      vertical-align: middle;

      &:focus {
        border: none;
        outline: none;
      }
    }

    button {
      width: 2.5rem;
      height: 2.5rem;
      padding-right: 0.1rem;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background: $iconHov;

      svg {
        color: $bgLight;
      }
    }

  }
}