@import "src/assets/styles/colors";
@import "src/assets/styles/transitions";

.container {
  max-width: 50rem;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;

    textarea {
      flex: 1;
      display: flex;
      font-size: 1rem;
      justify-content: center;
      align-items: center;
      border: none;
      resize: none;
      max-height: 10rem;
      height: 1.5rem;
      line-height: 1.5rem;
      background-color: rgba(0, 0, 0, 0);

      &:focus {
        outline: none;
      }

      ::placeholder {
        color: $textBackground;
      }
    }

    button {
      border: none;
      height: 3rem;
    }
  }
}