@import "src/assets/styles/colors";

.chat {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: 150ms;
  justify-content: space-between;

  &:hover {
    background-color: rgb(#fff, 0.07);
    color: $textLightHov;
  }

  span {
    flex: 1;
    white-space: nowrap;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}