@import "src/assets/styles/colors";

.text {
  padding: 15px 20px 0 20px;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;

  span {
    display: inline-block;
    overflow: hidden;
    color: $iconHov;
    vertical-align: middle;
    width: 0.36rem;
    height: 0.36rem;
    margin: 0 3px;
    background-color: $iconHov;
    border-radius: 100%;
  }

  b {
    font-weight: 400;
  }

}

.sendedTime {
  font-size: 10px;
  padding: 2px 20px 8px 20px;
  color: #a8b3c3;
  text-align: right;
}