@import "src/assets/styles/colors";

.text {
  padding: 15px 20px;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;


  //.dot {
  //  width: 0.4rem;
  //  height: 0.4rem;
  //  background-color: $icon;
  //  border-radius: 1rem;
  //}

}