@import "src/assets/styles/colors";
@import "src/assets/styles/transitions";

.chat, .user {
  display: flex;
  align-items: center;
  padding: 10px 0;
  @extend %transition1;

  .message {
    max-width: 70%;
    font-weight: 300;
    max-height: max-content;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    border: 1px solid $messageContue;


    .sendedTime {
      font-size: 10px;
      padding: 2px 20px 8px 20px;
      color: $icon;
      text-align: right;
    }
  }
}


.chat {
  justify-content: flex-start;

  .message {
    border-radius: 30px;
    border-top-left-radius: 4px;
    color: $textBlack;
    background-color: $messageAccent;


  }
}

.user {
  justify-content: flex-end;

  .message {
    border-radius: 30px;
    border-top-right-radius: 4px;
    color: $messageAccent;
    background-color: $message;

  }
}
