@import "assets/styles/colors";
@import "assets/styles/transitions";

.sidebar {
  background-image: linear-gradient(to top, $bgDark, $bgDarkAccent);
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  @extend %transition04;

  &.close {
    transform: translateX(-100%);
  }
}

.main {
  width: calc(100% - 300px);
  @extend %transition04;


  &.full {
    width: 100%;
  }
}
