@import "assets/styles/colors";

$transition: 400ms;
.sidebar {
  background-image: linear-gradient(to top, $bgDark, $bgDarkAccent);
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;

  &.close {
    transform: translateX(-100%);
  }
}

.main {
  width: calc(100% - 300px);

  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;

  &.full {
    width: 100%;
  }
}
