@import "src/assets/styles/colors";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  height: 100vh;
  padding: 0;
  background: $bgLight;
  display: flex;
  justify-content: right;
  position: relative;
  overflow: hidden;
}



