$bgDark: #1d232a;
$bgLight: #F2F7FA;
$bgDarkAccent: #292d32;
$textLight: #c0c4c9;
$textLightHov: #fff;
$textDark: #23272d;
$textDarkHov: #3D4756;
$message: #0080F6;
$messageAccent: #fff;
$icon: #8f9094;
$iconHov: #1e1f21;
