$bgDark: #1d232a;
$bgLight: #ebeef1;
$bgDarkAccent: #292d32;
$bgLightAccent: #fdfdfa;
$bgLightHeader: #eaedf2;
$bgLightTextarea: #eaedf2;
$textLight: #c0c4c9;
$textLightHov: #fcfdfc;
$textDark: #23272d;
$textDarkHov: #3D4756;
$message: #0080F6;
$messageAccent: #fff;
$icon: #676b71;
$iconHov: #60646b;

