$bgDark: #1d232a;
$bgLight: #ebeef1;
$bgDarkAccent: #292d32;
$bgLightAccent: #fdfdfa;
$bgLightHeader: #eaedf2;
$bgLightTextarea: #eaedf2;
$textLight: #c0c4c9;
$textLightHov: #fcfdfc;
$textDark: #23272d;
$textDarkHov: #3D4756;
$textBlack: #000;
$message: #0080F6;
$messageAccent: #fff;
$icon: #7d8187;
$iconHov: #5D6063;
$textBackground: #999;
$iconDisabled: #c4c7cb;

