@import "src/assets/styles/colors";

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $bgLightHeader;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 11px 50px 0px;

    h1 {
      color: $icon;
      font-weight: 400;
      font-size: 2rem;
      padding-left: 30px;
      margin: 20px 0;
    }
  }

  .chatWindow {
    flex: 1;
    width: 100%;
    //background-color: #1d232a;

  }

  .message {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -11px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      width: 100%;
      max-width: 50rem;
      padding: 20px 30px;

      form {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;


        textarea {
          flex: 1;
          font-size: 1.1rem;
          resize: none;
          overflow-y: auto;
          max-height: 10rem;
          border: none;
          background-color: rgb(0, 0, 0, 0);
          color: $icon;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: #999;
          }


        }

        button {
          width: 3rem;
          height: 3rem;
          border-radius: 3rem;
          background-color: rgb($icon, 0.9);
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;

          svg {
            padding-left: .1rem;
            width: 1.7rem;
            height: 1.7rem;
            color: $bgLightTextarea;
          }

          &:hover {
            background-color: $iconHov;
            cursor: pointer;
          }
        }

      }
    }
  }
}
